<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlickrProj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC12F2B11C9AE4E40049028B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC12F2C51C9AE4E40049028B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC12F2D01C9AE4E40049028B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
